{{ if eq (includeTemplate "linux-package-manager" .) "apt" -}}
#!/bin/bash
set -euo pipefail

echo -e "\0033[0;32m>>>>> Begin installing Packages for Linux Apt <<<<<\033[0m"

{{ template "run-as-root" dict "chezmoi" .chezmoi "command" "apt update" }}

{{ template "run-as-root" dict "chezmoi" .chezmoi "command" "apt install -y \\" -}}
{{- range .packages.linux.apt.packages -}}{{- . | quote }} {{ end }};

echo -e "\0033[0;32m>>>>> End installing Packages for Linux Apt <<<<<\033[0m"
{{- end }}
