{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh
set -euo pipefail

echo -e "\0033[0;32m>>>>> Begin installing Packages for Darwin <<<<<\033[0m"

{{ template "brew-executable" . }} bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ if eq .chezmoi.arch "arm64" -}}
{{ range .packages.darwin.arm64.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
EOF

echo -e "\0033[0;32m>>>>> End installing Packages for Darwin <<<<<\033[0m"
{{ end -}}
