{{- $miseLatest := (gitHubLatestRelease "jdx/mise").Name -}}
{{ $miseOsNameDict := dict "linux" "linux" "darwin" "macos" "windows" "INVALID_OS" }}
{{ $miseOsName := (get $miseOsNameDict .chezmoi.os) }}
{{ $miseOsArchDict := dict "amd64" "x64" "arm64" "arm64" }}
{{ $miseOsArch := (get $miseOsArchDict .chezmoi.arch) }}

{{- $monaspaceLatest := (gitHubLatestRelease "githubnext/monaspace").TagName -}}

####################### Mise #######################
[".local/bin/mise"]
    type = "archive-file"
    url = "https://github.com/jdx/mise/releases/download/{{ $miseLatest }}/mise-{{ $miseLatest }}-{{ $miseOsName }}-{{ $miseOsArch }}.tar.gz"
    path = "mise/bin/mise"
####################### /Mise #######################

####################### AstroNvim #######################
[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/NvChad/NvChad.git"
    refreshPeriod = "168h"
####################### /AstroNvim #######################

####################### Alacritty Themes #######################
[".config/alacritty/themes"]
    type = "git-repo"
    url = "https://github.com/alacritty/alacritty-theme.git"
    refreshPeriod = "168h"
####################### /AstroNvim #######################

####################### Oh-My-Zsh #######################
[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = false
    stripComponents = 1
    refreshPeriod = "168h"

# Custom OMZ Plugins
[".oh-my-zsh/custom/plugins/fast-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zdharma-continuum/fast-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-history-substring-search"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-history-substring-search/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-completions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-completions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/ports"]
    type = "archive"
    url = "https://github.com/caarlos0/ports/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/git-fetch-merge"]
    type = "archive"
    url = "https://github.com/caarlos0/zsh-git-fetch-merge/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/git-sync"]
    type = "archive"
    url = "https://github.com/caarlos0/zsh-git-sync/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/mkc"]
	type = "archive"
	url = "https://github.com/caarlos0/zsh-mkc/archive/master.tar.gz"
	exact = true
	stripComponents = 1
	refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/async"]
	type = "archive"
	url = "https://github.com/mafredri/zsh-async/archive/master.tar.gz"
	exact = true
	stripComponents = 1
	refreshPeriod = "168h"
####################### /Oh-My-Zsh #######################

####################### Fonts #######################

#["{{ .font_dir }}/Monaspace"]
#	type = "archive"
#	url = "https://github.com/githubnext/monaspace/releases/download/{{ $monaspaceLatest }}/monaspace-{{ $monaspaceLatest }}.zip"
#	exact = true
#	refreshPeriod = "168h"
#	include = ["fonts/otf/*.otf", "fonts/variable/*.ttf", "fonts/frozen/*.ttf"]

####################### /Fonts #######################

####################### Docker Completions #######################
[".docker/completions/_docker"]
	type = "file"
	url = "https://raw.githubusercontent.com/docker/cli/master/contrib/completion/zsh/_docker"
	refreshPeriod = "168h"

[".docker/completions/_docker-compose"]
	type = "file"
	url = "https://raw.githubusercontent.com/docker/compose/master/contrib/completion/zsh/_docker-compose"
	refreshPeriod = "168h"
####################### /Docker Completions #######################

####################### Install Sad #######################
[".local/bin/sad"]
    type = "file"
    url = "https://github.com/ms-jpq/sad/releases/latest/download/{{ .rust_arch }}-{{ .rust_os }}.zip"
    executable = true
    refreshPeriod = "168h"
    [".local/bin/sad".filter]
        command = "funzip"
####################### /Install Sad #######################

####################### Install Dra #######################
{{- $draLatestGlob := (printf "dra-%s-%s-%s" .dra_latest .rust_arch .rust_os) -}}
{{- $draLatestGlobTar := (printf "%s.tar.gz" $draLatestGlob) -}}
{{ $draLatestAsset := (gitHubLatestReleaseAssetURL "devmatteini/dra" $draLatestGlobTar) }}
[".local/bin/dra"]
    type = "archive-file"
    url = {{ $draLatestAsset | quote }}
    executable = true
    path = {{ printf "%s/%s" $draLatestGlob "dra" | quote }}
####################### /Install Dra ######################


####################### Install age #######################
{{ $ageLatestAsset := (gitHubLatestReleaseAssetURL "FiloSottile/age" (printf "age-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch)) }}
[".local/bin/age"]
    type = "archive-file"
    url = {{ $ageLatestAsset | quote }}
    executable = true
    path = "age/age"
####################### /Install age ######################
