{{- $miseLatest := (gitHubLatestRelease "jdx/mise").TagName -}}
{{ $miseOsNameDict := dict "linux" "linux" "darwin" "macos" "windows" "INVALID_OS" }}
{{ $miseOsName := (get $miseOsNameDict .chezmoi.os) }}
{{ $miseOsArchDict := dict "amd64" "x64" "arm64" "arm64" }}
{{ $miseOsArch := (get $miseOsArchDict .chezmoi.arch) }}

####################### Mise #######################
[".local/bin/mise"]
    type = "archive-file"
    url = "https://github.com/jdx/mise/releases/download/{{ $miseLatest }}/mise-{{ $miseLatest }}-{{ $miseOsName }}-{{ $miseOsArch }}.tar.gz"
    executable = true
    path = "mise/bin/mise"
####################### /Mise #######################

####################### AstroNvim #######################
[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/NvChad/NvChad.git"
    refreshPeriod = "168h"
####################### /AstroNvim #######################

####################### Alacritty Themes #######################
[".config/alacritty/themes"]
    type = "git-repo"
    url = "https://github.com/alacritty/alacritty-theme.git"
    refreshPeriod = "168h"
####################### /AstroNvim #######################

####################### Nushell Scripts #######################
[".local/share/nu_scripts"]
    type = "git-repo"
    url = "https://github.com/nushell/nu_scripts.git"
    refreshPeriod = "168h"
####################### /Nushell Scripts #######################

####################### Install Sad #######################
[".local/bin/sad"]
    type = "file"
    url = "https://github.com/ms-jpq/sad/releases/latest/download/{{ .rust_arch }}-{{ .rust_os }}.zip"
    executable = true
    refreshPeriod = "168h"
    [".local/bin/sad".filter]
        command = "funzip"
####################### /Install Sad #######################

####################### Install Dra #######################
{{- $draLatestGlob := (printf "dra-%s-%s-%s" (gitHubLatestRelease "devmatteini/dra").GetTagName .rust_arch .rust_os) }}
{{- $draLatestGlobTar := (printf "%s.tar.gz" $draLatestGlob) }}
{{ $draLatestAsset := (gitHubLatestReleaseAssetURL "devmatteini/dra" $draLatestGlobTar) }}
[".local/bin/dra"]
    type = "archive-file"
    url = {{ $draLatestAsset | quote }}
    executable = true
    path = {{ printf "%s/%s" $draLatestGlob "dra" | quote }}
####################### /Install Dra ######################


####################### Install age #######################
{{ $ageLatestAsset := (gitHubLatestReleaseAssetURL "FiloSottile/age" (printf "age-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch)) }}
[".local/bin/age"]
    type = "archive-file"
    url = {{ $ageLatestAsset | quote }}
    executable = true
    path = "age/age"
####################### /Install age ######################
