#!/bin/zsh
autoload -Uz compinit && compinit

# Load Dotfile defaults
. "$HOME/.dotfiles/defaults.zsh"

# all of our zsh files
typeset -U config_files
config_files=($DOTFILES/*/*.zsh)

# TODO: not this, something more explicit
# load everything but the path and completion files
for file in ${${config_files:#*/path.zsh}:#*/completion.zsh}; do
  source "$file"
done

# load plugins
#. "$DOTFILES/oh-my-zsh/plugins.zsh"

# Load our completions file.
source "$DOTFILES/completions.zsh"

# Load Oh-My-Zsh
source $HOME/.oh-my-zsh/oh-my-zsh.sh

# Load our alias file.
source "$DOTFILES/aliases.zsh"

# Force re-completion
autoload -U compinit && compinit

# use .localrc for SUPER SECRET CRAP that you don't
# want in your public, versioned repo.
# shellcheck disable=SC1090
[ -f ~/.localrc ] && . ~/.localrc

# Use Starship Prompt
eval "$(starship init zsh)"

unset config_files

# Launch zellij if we're in Ghostty
# Check if we're in an interactive shell
if [[ -o interactive ]]; then

    # Check if our Terminal emulator is Ghostty
	# TODO: revert once released and remove TERM re-definition: https://github.com/ghostty-org/ghostty/pull/5309
    #if [[ "$GHOSTTY" == "ghostty" ]]; then
	if [[ "$TERM" == "xterm-ghostty" ]]; then
        # Launch zellij
        eval "$(zellij setup --generate-auto-start zsh)"
    fi

	# TODO: Remove this once above PR is merged and released.
	export TERM=xterm-256color
fi
