{{ if .has_work_profile -}}
# Work Profile Config, matches only the space-separated list of TLDs
Host {{ .work_hosts_string }}
	ServerAliveInterval 60
	StrictHostKeyChecking no
	AddKeysToAgent yes
	{{ if (eq .chezmoi.os "darwin") -}}
	UseKeychain yes
	{{ end }}
	IdentityFile ~/.ssh/ssh_work
{{- end }}


# Personal Accounts config, matches anything not matched by the "Work" profile.
Host *
	# Override for ghostty: https://ghostty.org/docs/help/terminfo
	SetEnv TERM=xterm-256color
	User git
	AddKeysToAgent yes
	{{ if (eq .chezmoi.os "darwin") -}}
	UseKeychain yes
	{{- end }}
	IdentityFile ~/.ssh/ssh_personal
