{{ $macBrewPath := get (dict "amd64" "/usr/local/bin/" "arm64" "/opt/homebrew/bin/") .chezmoi.arch -}}
{{ $shellPathDict := dict "linux" "/usr/bin/zsh" "darwin" (print $macBrewPath "zsh") "windows" "pwsh.exe" -}}
{{- $shellPath := osClean (get $shellPathDict .chezmoi.os) -}}

# Set env var to determine when running inside ghostty
# Need a new feature to set another env ver: https://github.com/ghostty-org/ghostty/pull/5309
# env = GHOSTTY=ghostty

command = "{{ $shellPath }}"

shell-integration = "zsh"

# Imports always imported last.
config-file = theme.config
