{{- if eq .chezmoi.os "windows" }}
# Run a separate PowerShell process because the script calls exit, so it will end the current PowerShell session.
&powershell -NoProfile -ExecutionPolicy unrestricted -Command "[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12; &([scriptblock]::Create((Invoke-WebRequest -UseBasicParsing 'https://dot.net/v1/dotnet-install.ps1'))) -NoPath $args"
{{-   else }}
#!/bin/sh
curl -sSL https://dot.net/v1/dotnet-install.sh | sh /dev/stdin --no-path $@
{{-   end }}
